{% extends "base.htm" %}

{% block content %}
<h1>Browse images</h1>
<script type="text/javascript">
function pcmd(cmd){
	$('input[name=cmd]').val(cmd);
	$('#form').submit();
	return false;
}
</script>
<div>
	Total photos: {{total_count}}. 
	Page {{pagenr}} of {{paginator.num_pages}}.
	{% if page.has_previous %}
		<a href="?p={{pagenr|add:-1}}">Prev</a>
	{% endif %}
	{% if page.has_next %}
		<a href="?p={{pagenr|add:1}}">Next</a>
	{% endif %}
</div>
<table>
	{% for plist in data %}
	<tr>
		{% for photo in plist %}
		<td align="center">
			<div id="dv_{{photo.id}}" class="thumb">
				<div class="name"><a href="/slide?id={{photo.id}}" target="_blank">{{photo.name|safe}}</a></div>
				<img src='data/{{ photo.year }}/{{ photo.month|stringformat:"02d" }}/{{ photo.day|stringformat:"02d" }}/{{ photo.name }}' />
			</div>
			<div class="info">{{photo.info|safe}}</div>
			<div class="tags">
				{% for tag in photo.tags.all %}
					<span>{{tag.name}}</span>{% if not forloop.last %},{% endif %}
				{% empty %}
					<span>No tags</span>
				{% endfor %}
			</div>
		</td>
		{% endfor %}
	</tr>
	{% endfor %}
</table>
<input type="hidden" name="cmd" value="" />
<input type="hidden" name="sel" value="" />
<script type="text/javascript">
$("div.thumb img").click(function(){
	var img = $(this).parent();
	var id = img.attr('id');
	var sel = $('input[name=sel]');
	if (img.hasClass('selected')) {
		img.removeClass('selected');
		sel.val(sel.val().replace(',' + id, ''));
	} else {
		img.addClass('selected');
		sel.val(sel.val() + ',' + id);
	}
	var act = $('#actions');
	if (sel.val().length > 0)
		act.show();
	else
		act.hide();
});
</script>
{% endblock %}

{% block sidebar %}
<div id="actions" class="actions" style="display:none">
	<div><a id='del' href='#' onclick="return pcmd('del');">Delete</a></div>
	<div><input type='text' name='tags' /><a id='tag' href='#' onclick="return pcmd('tag');">Tag</a></div>
</div>
<div class="tags">
	<h3>Tags</h3>
	{% for tag in alltags %}
	<a href="/browse?tag={{tag.name}}">{{tag.name}} ({{tag.media_set.all|length}})</a><br/>
	{% endfor %}
</div>
{% endblock %}
