{% extends "base.htm" %}

{% block content %}
<h1>Browse images</h1>
<div>
	Total photos: {{total_count}}. 
	Page {{pagenr}} of {{paginator.num_pages}}.
	{% if page.has_previous %}
		<a href="?p={{pagenr|add:-1}}">Prev</a>
	{% endif %}
	{% if page.has_next %}
		<a href="?p={{pagenr|add:1}}">Next</a>
	{% endif %}
</div>
<div id="actions" class="actions" style="display:none">
	<a id='del' href='#' onclick="return cmd('del')">Delete</a>
</div>
<table>
	{% for plist in data %}
	<tr>
		{% for photo in plist %}
		<td>
			<div id="dv_{{photo.id}}" class="thumb">
				<div class="name"><a href="/slide?id={{photo.id}}">{{photo.name|safe}}</a></div>
				<img src='data/{{ photo.year }}/{{ photo.month|stringformat:"02d" }}/{{ photo.day|stringformat:"02d" }}/{{ photo.name }}' />
			</div>
			<div class="info">{{photo.info|safe}}</div>
		</td>
		{% endfor %}
	</tr>
	{% endfor %}
</table>
<form id="cmdform" action="/command" method="POST">
	<input type="hidden" name="cmd" value="" />
	<input type="hidden" name="sel" value="" />
</form>
<script type="text/javascript">
$("div.thumb").click(function(){
	var img = $(this);
	var id = img.attr('id');
	var sel = $('input[name=sel]');
	if (img.hasClass('selected')) {
		img.removeClass('selected');
		sel.val(sel.val().replace(',' + id, ''));
	} else {
		img.addClass('selected');
		sel.val(sel.val() + ',' + id);
	}
	//alert(sel.val());
	var act = $('#actions');
	if (sel.val().length > 0)
		act.show();
	else
		act.hide();
});
function cmd(cmd){
	$('input[name=cmd]').val(cmd);
	$('#cmdform').submit();
}
</script>
{% endblock %}

