body, table
{
	font-family: Verdana, Arial;
	font-size: 10pt;
}

a
{
	color: #09F;
	font-size: 10pt;
	text-decoration: none;
}

#sidebar
{
	float: right;
	height: 600px;
	width: 150px;
}

.actions
{
	float: right;
	height: 200px;
	width: 150px;
}
.actions a
{
	background-color: lightgray;
	border: solid 1px gray;
	display: inline-block;
	margin: 2px 0px;
	text-align: center;
	width: 60px;
}

.actions a.retag
{
	width: 90%;
}

.tags span
{
	color: #44BB88;
}

table 
{
	border-collapse: collapse;
}

th, td
{
	padding: 2px 10px;
}
.name
{
	font-weight: bolder;
	text-align: center;
}
.info
{
	font-size: 0.5em;
}
.selected
{
	border: solid 2px #00BBFF;
}
